.closeIcon {
  position: absolute !important;
  inset-block-start: 1rem;
  inset-inline-end: 1rem;
}

.facebookIcon {
  background-color: #4267b2 !important;
  color: var(--mui-palette-common-white) !important;
}

.twitterIcon {
  background-color: #1da1f2 !important;
  color: var(--mui-palette-common-white) !important;
}

.linkedinIcon {
  background-color: #0077b5 !important;
  color: var(--mui-palette-common-white) !important;
}

.avatarIcon {
  block-size: 88px;
  inline-size: 88px;
}

.smAvatarIcon {
  block-size: 66px;
  inline-size: 66px;
}
