.border {
  border: 1px solid var(--mui-palette-divider);
  border-radius: var(--mui-shape-borderRadius);
}
.borderBottom:not(:last-child) {
  border-block-end: 1px solid var(--mui-palette-divider);
}
.borderRight:not(:last-child) {
  border-inline-end: 1px solid var(--mui-palette-divider);
}

.closeIcon {
  position: absolute !important;
  inset-inline-end: 0.5rem;
  inset-block-start: 0.5rem;
}

.primary {
  color: var(--mui-palette-primary-main);
}

.maxWidth {
  max-inline-size: 100px;
}

.giftWrap {
  background-color: var(--mui-palette-action-hover);
  border-radius: var(--mui-shape-borderRadius);
}
