.contentWrapper {
  padding-block: 15px;
}

.footerContentCompact {
  &.footerDetached {
    margin-inline: auto;
    max-inline-size: 1440px;
  }

  &.footerAttached .contentWrapper {
    margin-inline: auto;
    max-inline-size: 1440px;
  }
}

.footerFixed {
  position: sticky;
  inset-block-end: 0;
  z-index: var(--footer-z-index);

  &.footerAttached,
  &.footerDetached .contentWrapper {
    background-color: var(--background-color);
  }

  &.footerDetached {
    pointer-events: none;

    & .contentWrapper {
      pointer-events: auto;
      border-inline: 1px solid var(--border-color);
      border-block-start: 1px solid var(--border-color);
      border-start-start-radius: var(--border-radius);
      border-start-end-radius: var(--border-radius);
    }
  }

  &.footerAttached {
    border-block-start: 1px solid var(--border-color);
  }
}
