.header {
  min-block-size: var(--header-height);
}

.headerContentCompact {
  &.headerFloating .navbar,
  &.headerDetached .navbar,
  &.headerAttached .navbar {
    margin-inline: auto;
  }
}

.headerFixed {
  position: sticky;
  inset-block-start: 0;

  &.headerAttached:not(.headerBlur),
  &.headerDetached:not(.headerBlur) .navbar {
    background-color: var(--background-color);
  }

  &.headerDetached .navbar {
    border-inline: 1px solid var(--border-color);
    border-block-end: 1px solid var(--border-color);
    border-end-start-radius: var(--border-radius);
    border-end-end-radius: var(--border-radius);
  }

  &.headerBlur {
    &.headerAttached,
    &.headerDetached .navbar,
    &.headerFloating .navbar {
      backdrop-filter: blur(6px);
      background-color: rgba(var(--background-color-rgb), 0.9);
    }

    &.headerFloating:before {
      content: '';
      position: absolute;
      z-index: -1;
      inset-block-start: 0;
      inset-inline: 0;
      block-size: 100%;
      background: linear-gradient(
        180deg,
        rgba(var(--background-color-rgb), 0.7) 44%,
        rgba(var(--background-color-rgb), 0.43) 73%,
        rgba(var(--background-color-rgb), 0)
      );
      backdrop-filter: blur(10px);
      mask: linear-gradient(black, black 18%, transparent 100%);
    }
  }

  &.headerAttached {
    border-block-end: 1px solid var(--border-color);
  }
}

.headerFloating {
  padding-block-start: 16px;

  .navbar {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
  }
}

.navbar {
  padding-block: 10px;
}
