@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: 6px;
  --border-color: #efefef;
  --primary-color: #765feb;
  --background-color: #fff;
  --background-color-rgb: 255 255 255;
  --header-height: 64px;
  --header-z-index: 10;
  --footer-z-index: 10;
  --customizer-z-index: 20;
  --search-z-index: 100;
  --drawer-z-index: 100;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/*! Do note remove following style */
/*
  Fix the popout / submenu closing issue when using hover trigger to open the menu and using
  perfectscrollbar where the bridge create with safe polygon by floating ui was not working
*/
[data-floating-ui-safe-polygon] .scrollbar-container {
  pointer-events: auto;
}
[data-floating-ui-safe-polygon] .scrollbar-container .ps__rail-y {
  pointer-events: none;
}

.ps__rail-y {
  inset-inline-end: 0 !important;
  inset-inline-start: auto !important;
  & .ps__thumb-y {
    inset-inline-end: 3px !important;
    inset-inline-start: auto !important;
  }
}
