@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border-radius: var(--mui-shape-borderRadius);
  --border-color: var(--mui-palette-divider);
  --primary-color: var(--mui-palette-primary-main);
  --background-color: var(--mui-palette-background-default);
  --background-color-rgb: var(--mui-palette-background-defaultChannel);
  --header-height: 64px;
  --header-z-index: var(--mui-zIndex-appBar);
  --footer-z-index: 10;
  --customizer-z-index: var(--mui-zIndex-drawer);
  --search-z-index: var(--mui-zIndex-tooltip);
  --drawer-z-index: var(--mui-zIndex-drawer);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul:not([class]) {
  margin-block: 1rem;
  padding-inline-start: 40px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

/*! Do note remove following style */
/*
  Fix the popout / submenu closing issue when using hover trigger to open the menu and using
  perfectscrollbar where the bridge create with safe polygon by floating ui was not working
*/
[data-floating-ui-safe-polygon] .scrollbar-container {
  pointer-events: auto;
}
[data-floating-ui-safe-polygon] .scrollbar-container .ps__rail-y {
  pointer-events: none;
}

.ps__rail-y {
  inset-inline-end: 0 !important;
  inset-inline-start: auto !important;
  & .ps__thumb-y {
    inset-inline-end: 3px !important;
    inset-inline-start: auto !important;
  }
}

/*
  Hide Vertical & Horizontal navigation menus on screen size less than 1200px.

  If you are updating the `breakpoint`, `customBreakpoint` and/or `breakpoints` prop(s) from the `VerticalNav` and/or
  `HorizontalNav` component(s), you will have to update the below `1200px` value to your updated value given in the prop.
*/
@media screen and (max-width: 1200px) {
  /*
    If you are updating the `width` prop of the `VerticalNav` component and/or `verticalNavProps={{ width: '' }}` prop of
    the `HorizontalNav` component, you will have to update the below `-260px` value to your updated value given in the prop.
  */
  .ts-vertical-nav-root:not(.ts-toggled) {
    position: fixed !important;
    inset-inline-start: -260px !important;
  }

  .ts-horizontal-layout-navigation {
    display: none !important;
  }
}
