.timelineIcon svg {
  vertical-align: middle;
  margin-inline: 1rem;
}

.imageWrapper {
  padding-block: 5px;
  padding-inline: 10px;
  background-color: var(--mui-palette-action-hover);
}

.avatarSize {
  block-size: 34px;
  inline-size: 34px;
}
