.timelineIcon svg {
  vertical-align: middle;
  margin-inline: 1rem;
}

.imageWrapper {
  padding: 5px 10px;
  background-color: var(--mui-palette-action-hover);
}

.borderRadius {
  border-radius: var(--mui-shape-borderRadius)
}

.avatarSize {
  inline-size: 38px;
  block-size: 38px;
}