.selectColumn {
  min-inline-size: 60px;
}

.idColumn {
  min-inline-size: 50px;
}

.nameColumn {
  min-inline-size: 200px;
}

.emailColumn {
  min-inline-size: 275px;
}

.dateColumn {
  min-inline-size: 130px;
}

.experienceColumn {
  min-inline-size: 125px;
}

.ageColumn {
  min-inline-size: 80px;
}
