.browserWindow {
  border: 3px solid var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  margin-block-end: var(--ifm-leading);
}

.browserWindowHeader {
  align-items: center;
  background: var(--ifm-color-emphasis-200);
  display: flex;
  padding-block: 0.5rem;
  padding-inline: 1rem;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.buttons {
  white-space: nowrap;
}

.right {
  align-self: center;
  inline-size: 10%;
}

[data-theme='light'] {
  --ifm-background-color: #fff;
}

.browserWindowAddressBar {
  flex: 1 0;
  margin-block: 0;
  margin-inline: 0.5rem 1rem;
  border-radius: 12.5px;
  background-color: var(--ifm-background-color);
  color: var(--ifm-color-gray-800);
  padding-block: 5px;
  padding-inline: 15px;
  font: 400 13px Arial, sans-serif;
  user-select: none;
}

[data-theme='dark'] .browserWindowAddressBar {
  color: var(--ifm-color-gray-300);
}

.dot {
  margin-inline-end: 6px;
  margin-block-start: 4px;
  block-size: 12px;
  inline-size: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.browserWindowMenuIcon {
  margin-inline-start: auto;
}

.bar {
  inline-size: 17px;
  block-size: 3px;
  background-color: #aaa;
  margin-block: 3px;
  margin-inline: 0;
  display: block;
}

.browserWindowBody {
  background-color: var(--ifm-background-color);
  border-end-start-radius: inherit;
  border-end-end-radius: inherit;
}

.browserWindowBody > *:last-child {
  margin-block-end: 0;
}
