.influenceBgImg {
  block-size: 200px;
}

.userBgImg {
  block-size: 180px;
}
.userAvatar {
  inline-size: 78px;
  block-size: 78px;
  border: 5px solid var(--mui-palette-background-paper);
  position: absolute;
  inset-inline-start: 11px;
  inset-block-start: -39px;
}
.userDetails {
  margin-block-start: 30px;
}

.collapseBgImg {
  block-size: 185px;
}

.borderLeft {
  border-inline-start: 1px solid var(--mui-palette-divider);
}
.borderTop {
  border-block-start: 1px solid var(--mui-palette-divider);
}

.horRatingsGridOrder {
  order: -1;
}

.watchBgImg {
  block-size: 140px;
}

.memberGridGap {
  gap: 26px;
}
.memberFeatureGap {
  gap: 10px;
}
.memberContentBgColor {
  background-color: var(--mui-palette-action-hover);
}

.supportAvatar {
  inline-size: 56px;
  block-size: 56px;
}

.solidCard {
  .text {
    color: var(--mui-palette-common-white);
  }
  .solidCardUserGap {
    gap: 10px;
  }
  .solidCardActionsGap {
    gap: 6px;
  }
}
.twitterCard {
  background-color: #1d9bf0;
}
.facebookCard {
  background-color: #3b5998;
}
.linkedInCard {
  background-color: #007bb6;
}
