.wrapper {
  display: flex;
  flex-flow: wrap;
  flex-grow: 1;
  column-gap: 48px;
  row-gap: 32px;
  padding-block: 56px;
  padding-inline: 64px;
  overflow-y: auto;
  overflow-x: hidden;

  &.smallScreen .suggestionGroup {
    flex-basis: 100%;
    inline-size: 100%;
  }

  .suggestionGroup {
    inline-size: calc((100% - 3rem) / 2);
  }
}

/* Section Title */
.sectionLabel {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--mui-palette-text-disabled);
}
