.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  flex-grow: 1;
  padding-block: 56px;
  padding-inline: 64px;
  overflow-y: auto;
  overflow-x: hidden;
}

.noResultIcon {
  font-size: 64px;
  margin-block-end: 10px;
}

.noResultText {
  font-size: 20px;
  margin-block-end: 44px;
}

.noResultSubText {
  font-size: 14px;
  margin-block-end: 18px;
  color: var(--mui-palette-text-disabled);
}
