/* Modal Positioner */
.positioner {
  align-items: center !important;
  padding: 0 !important;
  z-index: calc(var(--search-z-index) + 1);
}

.inputWrapper {
  padding-block: 20px;
  padding-inline: 24px;
  border-block-end: 1px solid var(--border-color);
}

.searchInput {
  padding-block: 4px;
  padding-inline: 6px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: var(--background-color);
  color: inherit;
  font-family: inherit;
}

/* Escape text inside input wrapper */
.escape {
  user-select: none;
}

.searchBackdrop {
  position: fixed;
  inset: 0;
  z-index: var(--search-z-index);
  background-color: rgba(0, 0, 0, 0.3);
}

/* Section/Group Title */
.groupName {
  padding-block: 15px 6px;
  padding-inline: 24px;
  font-size: 12px;
  text-transform: uppercase;
}

/* Search Item */
.itemButton {
  position: relative;
  padding-block: 10px;
  padding-inline: 24px;
  background-color: transparent;
}

.activeItemButton {
  background-color: rgba(0, 0, 0, 0.05);
}

/* Icon, Title and Subtitle Wrapper */
.itemContentWrapper {
  font-size: 14px;
}

.itemLink {
  gap: 10px;
}
.itemLink:hover {
  color: var(--primary-color);
}
.itemLink:focus-visible {
  outline: none;
  color: var(--primary-color);
}

.itemIcon {
  font-size: 20px;
}

/* Item Title and Subtitle Wrapper */
.nameSubtitleWrapper {
  gap: 2px;
}

/* Item Title */
.itemLabel {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemSubtitle {
  font-size: 12px;
}

/* Shortcut */
.kbd {
  inline-size: 24px;
  block-size: 24px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: 14px;
}
