.customRadioOption:first-child > * {
  border-end-end-radius: 0;
  border-end-start-radius: 0;
}
.customRadioOption:nth-child(2) > * {
  border-radius: 0;
}
.customRadioOption:last-child > * {
  border-start-end-radius: 0;
  border-start-start-radius: 0;
}

.formAlignment {
  block-size: 500px;
}

.formWrapper {
  max-inline-size: 400px;
}

.tabBorder {
  border-block-end: 1px solid var(--mui-palette-divider);
}
