.selectColumn {
  min-inline-size: 60px;
}

.nameColumn {
  min-inline-size: 240px;
}

.leaderColumn {
  min-inline-size: 100px;
}

.teamColumn {
  min-inline-size: 200px;
}

.progressColumn {
  min-inline-size: 150px;
}
