* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-inline-size: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

#root {
  display: flex;
}

/*! Do note remove following style */
/* Fix the popout / submenu closing issue when using hover trigger to open the menu and using perfectscrollbar where the bridge create with safe polygon by floating ui was not working */
[data-floating-ui-safe-polygon] .scrollbar-container {
  pointer-events: auto;
}
[data-floating-ui-safe-polygon] .scrollbar-container .ps__rail-y {
  pointer-events: none;
}
