.primaryColor {
  color: var(--mui-palette-primary-main);
}

.browserColumn {
  min-inline-size: 220px;
}

.deviceColumn {
  min-inline-size: 150px;
}

.locationColumn {
  min-inline-size: 100px;
}

.activitiesColumn {
  min-inline-size: 180px;
}
