.hero {
  margin: 2rem;
  border-radius: 8px;
  background-color: #f3f4f6;
  [data-theme='dark'] & {
    background-color: #2E2E32;
  }
}

.hero-banner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .hero-banner {
    padding: 2rem;
  }
}

.hero__title {
  margin-bottom: 0;
  line-height: 1.4;
  color: var(--ifm-color-content);
}

.hero__subtitle {
  margin-bottom: 2rem;
  color: var(--ifm-color-content);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
