.tableHead th:not(:first-child) {
  text-align: center;
}

.tableBody td:not(:first-child) {
  text-align: center;
}

.tableBody tr:nth-child(even) {
  background-color: var(--mui-palette-action-hover);
}
