.alert {
  box-shadow: none;
  & svg {
    block-size: 20px !important;
    inline-size: 20px !important;
  }
  & > div:first-child {
    font-size: 16px;
    text-transform: capitalize;
  }
  a:hover {
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
  }
}

.alert--warning {
  --ifm-alert-background-color: rgba(255, 180, 0, 0.16);
  --ifm-alert-background-color-highlight: rgba(255, 180, 0, 0.2);
  --ifm-alert-foreground-color: #755300;
  --ifm-alert-border-color: #FFB400;

  [data-theme='dark'] & {
    --ifm-alert-background-color-highlight: rgba(255, 180, 0, 0.25);
    --ifm-alert-foreground-color: #FFD87A;
  }

  code {
    border-color: rgba(255, 180, 0, 0.25);
  }
}

.alert--danger {
  --ifm-alert-background-color: rgba(255, 76, 81, 0.16);
  --ifm-alert-background-color-highlight: rgba(255, 76, 81, 0.2);
  --ifm-alert-foreground-color: #752325;
  --ifm-alert-border-color: #FF4C51;

  [data-theme='dark'] & {
    --ifm-alert-background-color-highlight: rgba(255, 76, 81, 0.25);
    --ifm-alert-foreground-color: #FFA2A5;
  }

  code {
    border-color: rgba(255, 76, 81, 0.25);
  }
}

.alert--success {
  --ifm-alert-background-color: rgba(86, 202, 0, 0.16);
  --ifm-alert-background-color-highlight: rgba(86, 202, 0, 0.2);
  --ifm-alert-foreground-color: #285D00;
  --ifm-alert-border-color: #56CA00;

  [data-theme='dark'] & {
    --ifm-alert-background-color-highlight: rgba(86, 202, 0, 0.25);
    --ifm-alert-foreground-color: #A7E37A;
  }

  code {
    border-color: rgba(86, 202, 0, 0.25);
  }
}

.alert--info {
  --ifm-alert-background-color: rgba(22, 177, 255, 0.16);
  --ifm-alert-background-color-highlight: rgba(22, 177, 255, 0.2);
  --ifm-alert-foreground-color: #0A5175;
  --ifm-alert-border-color: #16B1FF;

  [data-theme='dark'] & {
    --ifm-alert-background-color-highlight: rgba(22, 177, 255, 0.25);
    --ifm-alert-foreground-color: #86D6FF;
  }

  code {
    border-color: rgba(22, 177, 255, 0.25);
  }
}

.alert--secondary {
  --ifm-alert-background-color: rgba(104, 98, 114, 0.16);
  --ifm-alert-background-color-highlight: rgba(46, 38, 61, 0.2);
  --ifm-alert-foreground-color: #15111C;
  --ifm-alert-border-color: #686272;

  [data-theme='dark'] & {
    --ifm-alert-background-color-highlight: rgba(46, 38, 61, 0.25);
    --ifm-alert-foreground-color: #928E9A;
  }

  code {
    border-color: rgba(104, 98, 114, 0.25);
  }
}
