[class*='sidebarItem'] {
  margin-block-start: 0.25rem !important;
}

h2[itemprop='headline'] {
  font-size: var(--ifm-h1-font-size) !important;
}

[class*='sidebarItemTitle'] {
  font-weight: 600 !important;
}

[class*='sidebarItemLink'] {
  padding-block: 0.375rem;
  padding-inline: 0.5rem;
  border-radius: 4px;
  font-size: 15px !important;
  line-height: 1.5 !important;
  &:not([class*='sidebarItemLinkActive']) {
    color: var(--ifm-menu-color) !important;
    &:hover {
      background-color: var(--ifm-menu-color-background-hover) !important;
      color: var(--mui-palette-text-primary) !important;
    }
  }
}

[class*='sidebarItemLinkActive'] {
  font-weight: 600 !important;
  color: var(--ifm-color-primary) !important;
  background-color: var(--ifm-menu-color-background-active);
}
