h1 {
  font-weight: 600;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--ifm-font-weight-semibold);
}
.markdown h1:first-child {
  --ifm-h1-font-size: 36px;
}
.markdown > h2 {
  --ifm-h2-font-size: 30px;
  border-block-end: 1px solid var(--ifm-hr-background-color);
}

.markdown li + li {
  margin-top: 0;
}
.markdown li:not([class]) + li:not([class]) {
  margin-top: var(--ifm-list-item-margin)
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}
p:not([class]) {
  margin-bottom: var(--ifm-paragraph-margin-bottom);
}

.markdown li > p {
  margin-top: 0;
}
.markdown li > p:not([class]) {
  margin-bottom: var(--ifm-list-paragraph-margin)
}