html, body {
  height: auto !important;
  min-height: 100dvh;
}

#__docusaurus {
  min-height: 100dvh !important;
}

h1 {
  font-weight: 600;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--ifm-font-weight-semibold);
}

.markdown h1:first-child {
  --ifm-h1-font-size: 36px;
}
.markdown > h2 {
  --ifm-h2-font-size: 30px;
  border-block-end: 1px solid var(--ifm-hr-background-color);
}

code {
  border: 0.1rem solid #EBEBEB;
  border-radius: 5px;
  padding: 3px 8px;

  [data-theme='dark'] & {
    border-color: #36363B;
  }
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}
// p:not([class]) {
//   margin-bottom: var(--ifm-paragraph-margin-bottom);
// }

hr {
  background-color: transparent;
  height: 0;
  margin: 0;
}
hr:not([class]) {
  background-color: var(--mui-palette-divider);
  height: var(--ifm-hr-height);
  margin: var(--ifm-hr-margin-vertical) 0;
}

ul, ol {
  margin: 0;
  padding-left: 0;
}
ul:not([class]), ol:not([class]) {
  margin: 0 0 var(--ifm-list-margin);
  padding-left: var(--ifm-list-left-padding);
}

.markdown li + li {
  margin-top: 0;
}
.markdown li:not([class]) + li:not([class]) {
  margin-top: var(--ifm-list-item-margin)
}

.markdown li > p {
  margin-top: 0;
}
.markdown li > p:not([class]) {
  margin-bottom: var(--ifm-list-paragraph-margin)
}

.table-of-contents ul {
  margin: 0;
  padding-left: var(--ifm-toc-padding-horizontal);
}

:where([class^='ri-']) {
  font-size: 1.5rem;
}
