.breadcrumbs {
  display: flex;
  align-items: center;
}

.breadcrumbs__link {
  color: var(--mui-palette-text-secondary);
  &:any-link:hover {
    background: none;
  }
  svg {
    font-size: 1.25rem;
    position: relative;
    top: 1px;
    vertical-align: top;
  }
}

.breadcrumbs__item--active .breadcrumbs__link {
  font-size: 14px;
  background-color: transparent;
}
