@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-font-family-base: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  --ifm-toc-border-color: transparent;
  --ifm-scrollbar-size: .375rem;
  --ifm-h1-font-size: 2.25rem;
  --ifm-h2-font-size: 1.875rem;
  --ifm-h3-font-size: 1.5rem;
  --ifm-h4-font-size: 1.25rem;
  --ifm-h5-font-size: 1.125rem;
  --ifm-h6-font-size: 1rem;
  --ifm-color-content: #334155;
  --ifm-menu-color: #6b7280;
  --ifm-menu-color-background-hover: rgba(93, 93, 93, 0.1);
  --ifm-menu-color-background-active: rgba(37, 194, 160, 0.15);
  --ifm-heading-line-height: 1.5;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-navbar-search-input-icon: 'PUT ICON HERE';
  --ifm-link-color: var(--mui-palette-primary-main);

  --border-radius: 6px;
  --border-color: #efefef;
  --primary-color: #765feb;
  --background-color: #fff;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
  --ifm-toc-border-color: transparent;
  --ifm-menu-color: #a3a3a3;
  --ifm-menu-color-background-hover: rgba(224, 243, 255, 0.05);
  --ifm-navbar-background-color: #1b1b1d;
  --ifm-navbar-search-input-icon: 'PUT ICON HERE';
  --ifm-table-stripe-background: rgba(224, 243, 255, 0.05);
}

// Medium zoom styles
.medium-zoom-overlay {
  background-color: rgba(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(.25rem);
  z-index: var(--ifm-z-index-fixed);

  [data-theme='dark'] & {
    background-color: rgba(0, 0, 0, 0.4) !important;
  }

  & + .medium-zoom-image {
    z-index: calc(var(--ifm-z-index-fixed) + 1);
  }
}

// Scrollbar Styles
.menu.thin-scrollbar {
  padding: 20px;
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &:hover::-webkit-scrollbar-thumb {
    background-color: rgba(115, 115, 115, 0.2);
  }
  &:hover::-webkit-scrollbar-thumb:hover {
    background-color: rgba(115, 115, 115, 0.4);
  }
}

// Scroll back to top button styles
.clean-btn.theme-back-to-top-button {
  inset-block-end: 35.2px;
}

// Code block title bottom border style
.codeBlockTitle_src-theme-CodeBlock-Content-styles-module {
  border-block-end: .0625rem solid #5b6169 !important;
}

.theme-back-to-top-button {
  bottom: 2.2rem !important
}

@import './alert.scss';
@import './articles.scss';
@import './base.scss';
@import './breadcrumbs.scss';
@import './buy-now-button.scss';
@import './menu.scss';
@import './navbar.scss';
@import './pagination.scss';
@import './table-of-content.scss';
@import './table.scss';
