.navbar {
  --ifm-navbar-padding-horizontal: 2rem;
  box-shadow: none;
  border-bottom: 1px solid var(--border-color);
}

// navbar brand name styles
.navbar__brand:hover {
  color: var(--ifm-color-content);
  [data-theme='dark'] & {
    color: #e3e3e3;
  }
}

.navbar__logo {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.navbar__title {
  font-size: 1.2rem;
}

.navbar__link {
  font-size: 15px;
  color: var(--ifm-menu-color);
  font-weight: var(--ifm-font-weight-normal);
  &:hover {
    color: #111827;
    [data-theme='dark'] & {
      color: #f9fafb;
    }
  }
  &.navbar__link--active {
    font-weight: 600;
    color: var(--ifm-color-primary) !important;
  }
}

.navbar__item svg[class*='iconExternalLink_'] {
  display: none;
}

.navbar__items--right > :last-child {
  padding: 0;
}

// Search styles
.navbar__search {
  .navbar__search-input {
    inline-size: 17rem;
    block-size: 2.4rem;
    border: none;
    border-radius: 0.375rem;
    padding-inline-end: 2rem;
    &:focus {
      outline: none;
    }
  }

  kbd[class*='searchHint_'] {
    border: 0;
    box-shadow: none;
    background-color: #D8D9DA;
    color: var(--ifm-color-content);
    [data-theme='dark'] & {
      background-color: var(--ifm-navbar-background-color);
    }
  }
}
