.showcase-row {
  margin: 0;
  margin-inline-start: -2rem;
  margin-block-start: -2rem;

  .col {
    padding: 0;
    padding-inline-start: 2rem;
    padding-block-start: 2rem;
  }
}

.showcase-card {
  box-shadow: none;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  &:hover svg {
    transform: scale(1.1);
  }

  svg {
    font-size: 160px;
    transition: transform 0.3s;
  }
}
