table {
  margin-bottom: 0;
}
table:not([class]) {
  margin-bottom: var(--ifm-spacing-vertical);
}
table tr:nth-child(2n), table th, table thead {
  background-color: transparent;
}
table tr:nth-child(2n):not([class]) {
  background-color: var(--ifm-table-stripe-background);
}
table th:not([class]) {
  background-color: var(--ifm-table-head-background);
}
table thead:not([class]) {
  background-color: var(--ifm-table-stripe-background);
}
table td, table th {
  border: 0;
}
table td:not([class]), table th:not([class]) {
  border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}
table tr {
  border-top: 0;
}
table tr:not([class]) {
  border-top: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}
table thead tr {
  border-bottom: 0;
}
table thead tr:not([class]) {
  border-bottom: 2px solid var(--ifm-table-border-color);
}
