.table-of-contents__link {
  font-size: 15px;
  line-height: 1.5;
  --ifm-menu-link-padding-horizontal: 0.5rem;
  &:not(.table-of-contents__link--active) {
    color: var(--ifm-menu-color);
    &:hover {
      color: var(--mui-palette-text-primary);
    }
  }
  // table of contents link which is active and not a sublist
  &.table-of-contents__link--active:not(.table-of-contents__link--sublist) {
    font-weight: 600;
  }
}

// left side border which is active
.table-of-content-border {
  & > .table-of-contents__link--active {
    border-inline-start: 2px solid var(--ifm-color-primary);
    margin-inline-start: -17px;
    padding-inline-start: 15px;
  }
}

// left side border which is active and a sublist
ul ul .table-of-content-border > .table-of-contents__link--active {
  margin-inline-start: -33px;
  padding-inline-start: 31px;
}
ul ul ul .table-of-content-border > .table-of-contents__link--active {
  margin-inline-start: -49px;
  padding-inline-start: 47px;
}
