.welcome-row {
  margin: 0;
  margin-inline-start: -2rem;
  margin-block-start: -2rem;

  .col {
    padding: 0;
    padding-inline-start: 2rem;
    padding-block-start: 2rem;
  }
}

.welcome-card {
  box-shadow: none;
  border: 1px solid var(--border-color);
  padding: 1.5rem;
  color: inherit !important;
  text-decoration: none !important;
  border-radius: var(--border-radius);
  block-size: 100%;

  &:hover .anchor {
    text-decoration: underline;
  }

  .avatar {
    inline-size: 56px;
    block-size: 56px;
    border-radius: var(--border-radius);
    margin-block-end: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 1.5rem;
    }
  }

  .avatar-primary {
    background-color: #F2EAFF;
    color: #9254FD;
  }
  .avatar-error {
    background-color: #FFEAEA;
    color: #FF4B50;
  }
  .avatar-success {
    background-color: #EBFBE0;
    color: #55CB01;
  }
  .avatar-info {
    background-color: #E4F6FF;
    color: #0EB2FF;
  }
  .avatar-warning {
    background-color: #FFF4DA;
    color: #FFB601;
  }
  .avatar-pink {
    background-color: #FCECFF;
    color: #C701EF;
  }
  .avatar-blue {
    background-color: #EDEBFF;
    color: #7064F5;
  }
  .avatar-secondary {
    background-color: #EEEEEE;
    color: #1F2328;
  }
  .avatar-light-blue {
    background-color: #E5FCFF;
    color: #00CEE6;
  }

  h3, & > p {
    margin-block-end: 12px;
  }

  & > :last-child {
    margin-block-start: auto;
  }
}
