.tableMinWidth {
    min-width: 650px;
}

.tableCollapseBorder {
    border-block-end: 0;
}

.tableDenseMinWidth {
    min-width: 650px;
}

.tableCommonMinWidth {
    min-width: 700px;
}

.tableStickyMaxHeight {
    max-height: 440px;
}

.tableRow:last-of-type .tableCell {
  border: 0
}

.tableSortSelectMinWidth {
    min-width: 750px;
}

.tableSortIcon {
    color: var(--mui-palette-text-secondary);
}

.tableSortBackground {
background-color: rgb(var(--mui-palette-primary-mainChannel) / var(--mui-palette-action-activatedOpacity))
}

.tablePagination {
    border-block-start: 1px solid var(--ifm-color-emphasis-300);
}