.imgBorder {
  border-radius: var(--mui-shape-borderRadius);
}

.marginTop {
  margin-block-start: 0px !important;
}

.apiKeyItem {
  background-color: var(--mui-palette-action-hover);
  border-radius: var(--mui-shape-borderRadius);
}

.linkColor {
  color: var(--primary-color);
}

.justifyCenter {
  justify-content: center !important;
}
