.imgBorder {
  border-radius: var(--mui-shape-borderRadius);
}

.apiKeyItem {
  background-color: var(--mui-palette-action-hover);
  border-radius: var(--mui-shape-borderRadius);
}

.linkColor {
  color: var(--primary-color);
}
