.closeIcon {
  position: absolute !important;
  inset-block-start: 1rem;
  inset-inline-end: 1rem;
}

.activeStep {
  color: var(--mui-palette-common-white) !important;
  background-color: var(--mui-palette-primary-main) !important;
}

.stepperMinWidth {
  min-inline-size: 220px;
}

.textPrimary {
  color: var(--mui-palette-text-primary);
}
