.borderBottom:not(:last-child) {
  border-block-end: 1px solid var(--mui-palette-divider);
}

.closeIcon {
  position: absolute !important;
  inset-block-start: 1rem;
  inset-inline-end: 1rem;
}

.avatarIcon {
  inline-size: 50px;
  block-size: 30px;
}

.paymentItem:not(:last-child):not(:first-child) {
  padding-block: 16px;
}
.paymentItem:first-child {
  padding-block-end: 16px;
}
.paymentItem:last-child {
  padding-block-start: 16px;
}
