/* Scatter Chat */
.chartHeight {
  block-size: 350px;
}
.reactIcon {
  color: var(--mui-palette-primary-main);
}

.vueIcon {
  color: var(--mui-palette-success-main);
}

.angularIcon {
  color: var(--mui-palette-error-main);
}
