.closeIcon {
  position: absolute !important;
  inset-block-start: 1rem;
  inset-inline-end: 1rem;
}

.dialogTitle {
  padding-block: 64px 24px;
  padding-inline: 64px;
}

.dialogContent {
  padding-block: 0px 24px;
  padding-inline: 64px;
}

.dialogContentWithActions {
  padding-block: 0px 64px;
  padding-inline: 64px;
}
.dialogContentAlone {
  padding: 64px;
}

.dialogActions {
  padding-block: 0px 64px;
  padding-inline: 64px;
}

/* Dialog Padding in small screen */
.smDialogAction {
  padding-block: 0px 40px;
  padding-inline: 40px;
}
.smDialogTitle {
  padding-block: 40px 24px;
  padding-inline: 40px;
}
.smDialogContent {
  padding-block: 0px 24px;
  padding-inline: 40px;
}
.smDialogContentWithActions {
  padding-block: 0px 40px;
  padding-inline: 40px;
}
.smDialogContentAlone {
  padding: 40px;
}
