.addEventSidebar {
  padding-block: 0.75rem;
  padding-inline: 1.31375rem 0.81375rem;
  background-color: var(--mui-palette-background-default);
}

.backgroundPaper {
  background-color: var(--mui-palette-background-paper);
}
