.border {
  border: 1px solid var(--mui-palette-divider);
  border-radius: var(--mui-shape-borderRadius);
}

.active {
  color: var(--mui-palette-primary-main);
  border-color: var(--mui-palette-primary-main);

  .text {
    color: var(--mui-palette-primary-main);
  }
}

.closeIcon {
  position: absolute !important;
  inset-inline-end: 1rem;
  inset-block-start: 1rem;
}

.authMethod {
  padding-block: 16px;
  padding-inline: 20px;
}
