.active {
  color: var(--mui-palette-primary-main);
  border-color: var(--mui-palette-primary-main);

  .text {
    color: var(--mui-palette-primary-main);
  }
}

.closeIcon {
  position: absolute !important;
  inset-inline-end: 1rem;
  inset-block-start: 1rem;
}

.authMethod {
  padding-block: 16px;
  padding-inline: 20px;
}
